body {
 
}

.header {
    display: flex;
    justify-content: space-between;
}
.credits{
    display: flex;

}
.credit{
    margin-right: 7px;
}
.punten {
    margin-right: 20px;
    margin-top: 4px;    
}
.main{
    display: flex;
    position: absolute;
    left: 0px;
}


.keuzen{
    display: flex;
    flex-direction: column;
    padding-bottom: 376px;
    padding-top: 10px;
    justify-content: space-evenly;
    background-color: rgb(19, 39, 50);
}


.module{
    margin-top: 10px;
    margin-left:29px ;
    margin-bottom: 1px;
    padding-bottom: 0px;
    font-size: 49px;
    color: white;
    font-family: sans-serif;
    
}

.id{
    opacity: 45%;
}

.naam{
    opacity: 45%
}

.open{
    opacity: 45%
}
.eentweedrie{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-left: -100px;
    margin-top: 270px;
    font-size: 20px;
    font-family: sans-serif;
    width: 100%;
}

.tweede{
    margin-left: 300px;

}
.derde{
    margin-left: 270px;

}
.block{  
    top: 57px;
    z-index: -1;

}
.house {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.baseline{
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.star{
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.checkbox{
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.people{
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

  
  a:hover, a:active {
    background-color: rgb(33, 68, 87);
    height: auto;
  }
